@model PortfolioHub.ViewModels.RegisterViewModel

@{
    ViewData["Title"] = "Регистрация";
}

<h2>Регистрация</h2>

<form method="post">
    <div>
        <label>Email</label><br />
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>

    <div>
        <label>Username</label><br />
        <input asp-for="Username" />
        <span asp-validation-for="Username"></span>
    </div>

    <div>
        <label>Пароль</label><br />
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>

    <div>
        <label>Повтор пароля</label><br />
        <input asp-for="ConfirmPassword" />
        <span asp-validation-for="ConfirmPassword"></span>
    </div>

    <button type="submit">Создать аккаунт</button>

    <div asp-validation-summary="All"></div>
</form>
